@use "../abstract/" as *;

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Quicksand:wght@300..700&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-secondary;
  line-height: 1;
}

small {
  color: $clr-secondary;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 500;
}

.underline {
  text-decoration: underline;
  color: $clr-dark;
}

.underline--light {
  text-decoration: underline;
  color: $clr-light;
}
